.guide_msg_box {
    width: 250px;
    color: #ffffff;
    position: absolute;
    background: #ffab19;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.guide_msg_box .guide_msg_content {
    padding-right: 25px;
    display: block;
}

.guide_msg_box:after, .guide_msg_box:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.guide_msg_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffab19;
    border-width: 10px;
    margin-left: -40px;
}

.guide_msg_box .close {
    width: 18px;
    height: 18px;
    position: absolute;
    background: url("../images/close.png") no-repeat;
    right: 10px;
    top: 50%;
    background-size: 15px 15px;
    margin-top: -8px;
    cursor: pointer;
}

.guide_msg_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 999;
    -moz-opacity: .3;
    opacity: .3;
    filter: alpha(opacity=30);
}